<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD new user</title>
</head>
<body>
      <form action="/user", method="post">
        <textarea name="username" id="" placeholder="enter username"></textarea>
        <textarea name="email" id="" placeholder="enter email"></textarea>
        <textarea name="password" id="" placeholder="enter password"></textarea>

        <button>add user</button>
      
      </form>
    
</body>
</html>