<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete user</title>
</head>
<body>
       <form action="/user/<%=id%>?_method=DELETE" method="post">
        <input type="email" placeholder="enter your email" name="email">
        <input type="password" placeholder="enter your password" name="password">
        <button>delete</button>
       </form>
</body>
</html>