<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h2>The total number of user are : <%= count %></h2>
    <form action="/newuser" method="post">
        <button>Join us today!</button>
    </form>
     <span> <a href="http://localhost:8080/user">List of users</a></span>
   
   
</body>
</html>